/* //////////
// важливо //
////////// */

.article-2-1
{
    gap: var(--gap);
    display: grid;    
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        'hot-1 hot-2'
        'hot-1 hot-3'
}

/* оскільки текст на фото -- використовуємо цей блок */
.article-2-1 .article-data
{
    position: absolute;
    bottom: 50px;
    left: 45px;
    right: 45px;
    color: var(--white);
    z-index: 2;
}

.article-2-1 .article-data time 
{
    display: block;
    margin: 0 0 20px;
    color: var(--white);
}

.article-2-1 .article-data h1 
{
    font-size: 21px;
    font-family: 'Merriweather', serif;
}

.article-2-1 .article-data h1 a,
.article-2-1 .article-data h1 a:hover,
.article-2-1 .article-data h1 a:focus
{
    color: var(--white)!important;
    text-decoration: none;
}

.article-2-1 .article-data p 
{
    margin: 24px 0 0;
    font-weight: 300;
    line-height: 1.5;
}


/* 1 велика новина зліва */
.article-2-1 .article:nth-of-type(1)
{
    grid-area: hot-1;
}

.article-2-1 .article:nth-of-type(1) .article-data h1 
{
    margin: 0 0 24px;
    font-size: 30px;
}

/* 2 і 3 мала справа */
.article-2-1 .article:nth-of-type(2)
{
    grid-area: hot-2;
}

.article-2-1 .article:nth-of-type(3)
{
    grid-area: hot-3;
}

/* картинки зі затемненням */
.article-2-1 picture
{
    position: relative;
    display: block;
    height: 100%;
}

.article-2-1 picture img
{
    height: 100%;
}

.article-2-1 picture::before
{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,.3);
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,.5) 35%, rgba(0,0,0,0) 100%);
}

