/* ////////////////////
// стилізація анонса //
//////////////////// */

/* якщо з фоновою картиною */
.article 
{
    position: relative;
}

/* якщо текст на фото -- використовуємо цей блок */
.article-data
{
    position: absolute;
    bottom: 50px;
    left: 45px;
    right: 45px;
    color: var(--white);
}

.article-data time 
{
    display: block;
    /* margin: 0 0 28px; */
    margin: 0 0 20px;
}

.article-data h1 
{
    margin: 0 0 24px;
    font-size: 21px;
    font-family: 'Merriweather', serif;
}

.article-data h1 a
{
    color: var(--white);
    text-decoration: none;
}











/* якщо 4 анонса */



/* якщо 4 маленьких анонса (картинка поруч) */






/* лінк справа внизу "читати все"/"інші новини" тощо */
.rest 
{
    height: 50px;
}