/* ////////////////////
// стилізація анонса //
//////////////////// */

/* якщо з фоновою картиною */
.article 
{
    position: relative;
}







/* якщо 4 анонса */




/* якщо 4 маленьких анонса (картинка поруч) */






/* лінк справа внизу "читати все"/"інші новини" тощо */
.rest 
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rest a 
{
    text-decoration: none;
    font-size: 18px;
    color: var(--gray);
}