
#footer 
{
    background: var(--bg-gray);
    padding: 50px 0 0;
}

@media(max-width:996px)
{
    #footer 
    {
        /* background: var(--bg-gray); */
        padding: var(--gap) 0 0;
    }
}

#footer .wrapper 
{
    display: grid;
    gap: 35px 0;
    grid-template-columns: 1fr 710px 1fr;
    grid-template-areas:
        'footer-logo footer-content footer-contact'
        'copy copy copy'
}

@media(max-width:996px)
{
    #footer .wrapper 
    {
        grid-template-columns: 1fr auto 1fr;
        gap: 35px 10px;
        /* padding: 0 0 99px; */
        padding: 0 0 70px;
    }    
}

@media(max-width:776px)
{
    #footer .wrapper 
    {
        grid-template-columns: repeat(2,1fr);
        gap: calc(var(--gap) / 2);
        grid-template-areas:
            'footer-logo footer-contact'
            'footer-content footer-content'
            'copy copy'
    }    
}

/* left */
#footer-logo
{
    grid-area: footer-logo;
}

/* текстовий логотип */
#footer-logo a
{
    color: var(--cyan);
    font-size: 40px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-decoration: none;
}

@media(max-width:776px)
{
    #footer-logo a
    {
        line-height: .7;
        margin: 0 0 20px;
        display: block;
    }    
}

#footer-logo p 
{
    color: var(--gray);
}

/* center */
#footer-content 
{
    grid-area: footer-content;

    /* color: var(--light); */
    color: var(--time);
    font-size: 14px;
}

#footer-content p
{
    margin: 0 0 5px;
}

/* right */
#footer-contact
{
    grid-area: footer-contact;

    text-align: center;
}

#footer-contact > a
{
    display: block;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    margin: 0 0 20px;
}

/* phone */
#footer-contact a[href^='tel']
{
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
}

@media(max-width:400px)
{
    #footer-contact a[href^='tel']
    {
        font-size: 18px;
    }    
}

/* mail */
#footer-contact a[href^='mailto']
{
    font-size: 14px;
    color: var(--cyan);
}

/* bottom */
#copy 
{
    grid-area: copy;

    text-align: center;
    padding: 0 0 35px;
    color: var(--cyan);
    font-size: 16px;
}

#copy a 
{
    color: var(--cyan);
    font-size: 16px;
    text-decoration: none;
}

#copy a:hover, 
#copy a:focus 
{
    text-decoration: underline;
}