
/* ///////////////////////////////////////////////////////
// меню, дата, логотип, повідомити за новину, соцкнопки //
/////////////////////////////////////////////////////// */

#header 
{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    min-height: 140px;
}

@media(max-width:996px)
{
    #header 
    {
        min-height: 100px;
    }    
}

#header-left
{
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 45px
}

#nav-button
{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23434a54'%3E%3Cpath d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: -4px
}


#header-left time
{
    display: block;
    line-height: 1;
    /* color: var(--light); */
    color: var(--time);
    white-space: nowrap;
}

/* center */
#logo 
{
    font-family: 'Merriweather', serif;
    font-size: 90px;
    font-weight: 900;
    color: var(--cyan);
    text-transform: lowercase;
    text-align: center;
}

@media(max-width:776px)
{
    #logo 
    {
        font-size: 40px;
        line-height: .4;
    }    
}

#logo a 
{
    text-decoration: none;
    line-height: 1;
    color: var(--cyan);
    display: block;
    margin: -10px 0 10px;
}

#logo span
{
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: var(--gray);
}

@media(max-width:776px)
{
    #logo span
    {
        font-size: 14px;
    }
}

/* right */
#header-right
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

/* Повідомити новину */
#send-post
{
    display: inline-block;
    background: var(--cyan);
    color: var(--white)!important;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px;
}

#send-post:hover 
{
    color: var(--white)!important;
}

@media(max-width:996px)
{
    #send-post
    {
        width: 50px;
        height: 50px;
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #send-post span
    {
        display: none;
    }

    #send-post::before
    {
        content: '';
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAZCAMAAAAVHr4VAAAAaVBMVEUAAACpsr2osbypsb2wtrapsb2qsb2psb2psb2psb2psbytr8Gpsbyqsb2qsryqsb2osb2psb2psr6psr2ttLuosr2qsb2qsb6psr2qsL2psbyosb2psL6psb2qsb2psb2psb2nsLypsb1oLzNNAAAAInRSTlMAnBn6CO9u8+vhVw7m1R7FoZB0SyOHeE/JvLSXLdKuZV4911HupgAAAPFJREFUKM99UlmWhCAQQ3ZcwH1p7S33P+Tga0ZxxjY/FV9SpoAiv6BNUgiPImkoOYL2BoA2RgMw/UF+KuRdY1dqhy6Hem4SL8FktlszyVDywEdM9phiJ4wfd4mE/EOCci0pHDmBQ+oDNaNnImWa+8Yu+lkUUPnWG6JhGNt5ixtRBdmR59FHocg2Kq2lVErKmm4DE1SBvxHw3kKvO8VV5gPt92lTVF/PeX1DvvWenYgj0rXM6E9fJdThr2QdHPeVz3jwdq7jTagZEr6yFzA5AKIbLPfedqgE1OtjWxxDXjbSrAZjxHH7smWhYW+1EPoe7e0P04MRgkmPYPQAAAAASUVORK5CYII=');
        width: 28px;
        height: 25px;
        display: inline-block;
    }    

}

/* пошук */
#search-button 
{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23434a54' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
    cursor: pointer;
}