
/* //////////////////////////////////
// фіксована синя панель у підвалі //
////////////////////////////////// */
#mobile-panel
{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;

    height: 99px;
    width: 100%;
    background: var(--cyan);

    display: none;
}

@media(max-width:996px)
{
    #mobile-panel
    {
        display: flex;
        align-items: center;
    }
}

@media(max-width:540px)
{
    #mobile-panel
    {
        align-items: flex-start;
    }
}

#mobile-panel li 
{
    width: 20%;
    display: block;
}

@media(max-width:540px)
{
    #mobile-panel li 
    {
        padding: 20px 0 0;
    }    
}

#mobile-panel a
{
    font-size: 10px;
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    gap: 20px;
}

#mobile-panel a:hover,
#mobile-panel a:focus
{
    color: var(--light)!important;
}

#mobile-panel a::before
{
    content: '';
    display: block;
    min-height: 25px;
    background-repeat: no-repeat!important;
}

#nav-home a::before
{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAVCAMAAACE9bUqAAAAWlBMVEUAAACrrb6psb6psb2psb2psbypsb2psb2psb2psb2psb2qsr2qsryqsLufv7+psb2psb2qsbypsb2psb2psb2psbyosb2psbypsb6qsb6msbyzs7OAgICpsb1fIlhVAAAAHXRSTlMAD9752l/z7GawjV09Fgjl0Mu+uqedloJ9Ti4KApMxt+MAAACQSURBVCjPzZFbDoQgDEVRmfJSfL+9+9/mhCFCYFyA56cXTtKkLQuYFkBrWE4xA1pqYC5SUXPwOtbIBmj7S1YDW/g/Bog9vHaB4fBRElTDIo0CSVcngLMUDkwNI/TUZaajHsT4akWZmVLY1fW5qj9TXX7IB1O83zxsx5uTRGYEnT4sUNJ8boxUWO5Lj0gZXbMvdVEJcKIXkOUAAAAASUVORK5CYII=');
    width: 25px;
    height: 21px;
}

#nav-search a::before
{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAKlBMVEUAAACpsb2psb2psb2qsb2psb2psb2psb2qsbyos72zs7OqsLypsr2psb1/H2YEAAAADXRSTlMA89GqVbqXaEUyCipZpbGloQAAAHhJREFUCNdjAAIuN0WhlAUMYNB8FwgswEweXeHK6YaXDoDYTVcdGBhYYjVAqm2jQSJbLy8AilwECgMpWSDFdhligm0CAwPTdQi7VoGBgfEmhD1XAJWNUIOqF2Emsl2obmC4i3Ab712Em+9egPgFLAwxEiKMYPMimAABTC1dyGCcdgAAAABJRU5ErkJggg==');
    width: 21px;
    height: 21px;
}

#nav-menu a::before
{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAASAQMAAAB7IozdAAAABlBMVEUAAACpsb07wI/oAAAAAXRSTlMAQObYZgAAABJJREFUCNdj+P//PxjjAMTKAwCF3hHvH/jF7AAAAABJRU5ErkJggg==');
    width: 24px;
    height: 18px;
}

#nav-news a::before
{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAZlBMVEUAAACpsr2psb2osb2qs7+qsLypsb6psb2qs7upsb6psb2psb6psb2osL2psb2nr7upsb2psb2osL2psb2psr6psbypsrynsLmrrsCpsb2psb2qsr2qsb6or72psb2psb2qqripsb3TbKxpAAAAIXRSTlMAj9WJKlQyzh6MW4R8ZOlA+PHfqaNzOh0Y9uPKvCPrlxKnYSARAAAAuUlEQVQoz33N2Q6CMBSE4enGsRTLquLuvP9LigS1iOFL+l90mhSjx2mHSXFCwtJjcufnshNpeBM9kkgt0lkgOzKeG9bvoaY+Rx4zCHOgZ8DEcEhOAS8YlD0mffnqhWDAH4GoJHjzwwepUPOvGuxsltnhpLXdyh9UwFbrfF61Pix8B2uR9DsU5C7tZyiV2s+6/ocHNs5t5vUEDWDI4rdgO746zNsSsbpi4VpFOLI1XiW8b0kHuIYLjcMTkNMUjOZlX+cAAAAASUVORK5CYII=');
    width: 24px;
    height: 24px;
}

#nav-send a::before
{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAZCAMAAAAVHr4VAAAAaVBMVEUAAACpsr2osbypsb2wtrapsb2qsb2psb2psb2psb2psbytr8Gpsbyqsb2qsryqsb2osb2psb2psr6psr2ttLuosr2qsb2qsb6psr2qsL2psbyosb2psL6psb2qsb2psb2psb2nsLypsb1oLzNNAAAAInRSTlMAnBn6CO9u8+vhVw7m1R7FoZB0SyOHeE/JvLSXLdKuZV4911HupgAAAPFJREFUKM99UlmWhCAQQ3ZcwH1p7S33P+Tga0ZxxjY/FV9SpoAiv6BNUgiPImkoOYL2BoA2RgMw/UF+KuRdY1dqhy6Hem4SL8FktlszyVDywEdM9phiJ4wfd4mE/EOCci0pHDmBQ+oDNaNnImWa+8Yu+lkUUPnWG6JhGNt5ixtRBdmR59FHocg2Kq2lVErKmm4DE1SBvxHw3kKvO8VV5gPt92lTVF/PeX1DvvWenYgj0rXM6E9fJdThr2QdHPeVz3jwdq7jTagZEr6yFzA5AKIbLPfedqgE1OtjWxxDXjbSrAZjxHH7smWhYW+1EPoe7e0P04MRgkmPYPQAAAAASUVORK5CYII=');
    width: 28px;
    height: 25px;
}