
/* ////////////////
// окрема новина //
//////////////// */

#page
{
    display: grid;
    gap: var(--gap);
    grid-template-columns: 2fr 1fr;
}

@media(max-width:996px)
{
    #page
    {
        grid-template-columns: 1fr;
    }    
}

#content
{
    display: grid;
    gap: var(--gap);
    grid-template-columns: 160px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'content-header content-header'
        'content-aside content-main';

    color: var(--gray);
}

@media(max-width:996px)
{
    #content
    {        
        display: block;
    }    
}

#content header
{
    grid-area: content-header;
}

#content header time 
{
    font-size: 14px;
    font-weight: 700;
    color: var(--cyan);
}

#content header h1 
{
    margin: 20px 0;
    font-family: 'Merriweather', serif;
    color: var(--gray);
}

@media(max-width:996px)
{
    #content header h1 
    {
        margin: 15px 0;
    }    
}

#content header p 
{
    margin: 0 0 28px;
    line-height: 1.5;
}

/* шарбатони + До теми */
#content aside
{
    grid-area: content-aside;
}

@media(max-width:996px)
{
    #content aside
    {
        float: left;
        width: 160px;
        grid-area: initial;
    }    
}

/* До теми */
#content aside h1 
{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 21px;
    color: var(--gray);
}

@media(max-width:996px)
{
    #content aside h1 
    {
        display: none;
    }
}

#content aside ul 
{
    display: block;
}

@media(max-width:996px)
{
    #content aside ul
    {
        display: none;
    }
}

#content aside li 
{
    display: block;
}

#content aside li a
{
    padding: 15px 0;
    display: block;
    text-decoration: none;
    color: var(--aside);
}

/* основний контент */
#content main
{
    grid-area: content-main;
}

#content main p
{
    margin: 0 0 var(--gap);
    line-height: 1.5;
    font-weight: 300;
}

#content main .picture 
{
    margin: 0 0 var(--gap);
}

@media(max-width:996px)
{
    #content .picture 
    {
        margin: var(--gap) 0;
    }    
}

#content main ul,
#content main ol
{
    margin: var(--gap) 0 var(--gap) 40px;
}

#content main li 
{
    margin: 20px 0;
    line-height: 1.5;
}

/* бокова колонка */
#page > aside 
{
    align-self: flex-start;
    padding: var(--gap) 30px 0;
}

@media(max-width:996px)
{
    #page > aside 
    {
        margin: 0 -2.5%;
    }    
}

#page > aside .article
{
    background: var(--white);
    padding: 20px 10px;
    border-top: 1px solid var(--border);

    display: grid;
    grid-template-columns: 110px 1fr;
    gap: calc(var(--gap)/2);
}

@media(max-width:996px)
{
    #page > aside .article
    {
        padding: 20px 0;
    }    
}

/* цей блок може мити інший фон. модифікатор */
#page > aside .article
{
    background: var(--bg-gray);
}

#page > aside .article:nth-of-type(1)
{
    border-top: none;
}

/* щоб картинку не пердоліло */
#page > aside .article .picture 
{
    align-self: flex-start;
}

#page > aside .article-data time 
{
    color: var(--cyan);
    display: block;
    margin: 0 0 20px;
}

#page > aside .article-data h1 a
{
    color: var(--gray);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: .5s;
}

/* */
.tags a
{
    margin: 4px 13px 4px 0;
    background: var(--light);
    color: var(--white);
    padding: 1px 12px 4px 12px;
    text-decoration: none;
    line-height: 30px;
    border-radius: 5px;
    font-size: 16px;
}
.tags a:hover
{
    background: var(--cyan);
    color: var(--white);
}