@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*
font-family: 'Merriweather', serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');

/*
font-family: 'Ubuntu', sans-serif;
*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: 400;
    font-size: 16px;
}

:root 
{
    --cyan: #003399;
    --gray: #434a54;
    --white: #fff;
    --light: #aab2bd;
    --black: #000;

    --bg-gray: #f6f7fb;

    /* стандартний відступ між новинами */
    --gap: 40px;

    /* колір бордеру в артиклях */
    --border: #e6e9ee;

    --aside: #656d78;

    /* колір часу публікації */
    --time: #767d86;

    --fb: #515eb3;
    --tw: #6ab8ff;
    --tg: #389ce9;
    --social: #f6f7f8;
}

@media(max-width:776px)
{
    :root
    {
        --gap: 20px;
    }
}

a
{
    text-decoration: underline;
    color: var(--cyan);
    transition: .5s;
}

a:hover,
a:focus
{
    text-decoration: none;
    color: var(--black)!important;
}


.wrapper 
{
    width: 1400px;
    margin: auto;
}

@media(max-width:1440px)
{
    .wrapper 
    {
        width: 95%;
    }    
}


/* показати/сховати залежно від розміру екрану */
.mobile
{
    display: none!important;
}

.desktop
{
    display: block!important;
}

@media(max-width:996px)
{
    .mobile
    {
        display: block!important;
    }

    .desktop
    {
        display: none!important;
    }
}
/* показати/сховати залежно від розміру екрану */


/* сірий фон блоку */
.bg-gray 
{
    background: var(--bg-gray);
}

/* блок з анонсами */
section 
{
    padding-top: var(--gap);
}

/* синя дата по середині */
time.date 
{
    text-align: center;
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 36px;
    color: var(--cyan);
    font-weight: 600;
    margin: 0 0 15px;
    /* line-height: 1; */
}

time.date span 
{
    display: block;
    font-size: 14px;
}