.service
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 calc(var(--gap)/2);
    gap: calc(var(--gap)/4);

    /* костиль. TODO: почистити стилі! */
    position: static!important;
}

.service time 
{
    font-size: 14px;
    margin: 0!important;
    display: block;

    /* костиль. TODO: почистити стилі! */
    position: static!important;
    background: transparent!important;
    padding: 0!important;
    font-weight: normal!important;
}

.service a
{
    display: block;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
}

/* ///////////////
// модифікатори //
/////////////// */
.article-2-1 .service a,
.article-2-1 .service a:hover,
.article-2-1 .service a:focus
{
    color: var(--white)!important;
}

.article-2-1 .service a::before
{
    background: var(--white);
}

.article-8 .service time
{
    padding: 0;
}

.article-8 .service a,
.article-8 .service a:hover,
.article-8 .service a:focus
{
    display: inline-block;
    padding: 0;
    color: var(--cyan);
}

#content .service a,
#content .service a:hover,
#content .service a:focus
{
    color: var(--cyan)!important;
    /* font-weight: 700; */
}

/**/
.article-3 .service,
.article-4 .service
{
    margin: calc(var(--gap)/2) 0;
}