.video-block
{
    overflow: hidden;
}

.video-block a
{
    position: relative;
    display: block;
    text-decoration: none;
}

.video-block img
{
    width: 100%;
}

.video-block a::before
{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z'/%3E%3C/svg%3E");
    position: absolute;
    width: 48px;
    height: 48px;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    z-index: 1;
}

#video-player{position:fixed;top:0;bottom:0;left:0;right:0;z-index:12;background:rgba(0,0,0,.7);display:flex;align-items:center;justify-content:center;padding:50px}
@media all and (max-width:1750px){#video-player{padding:40px}}
@media all and (orientation:portrait) and (max-width:1300px){#video-player{padding:7px}}
#close-video-player{position:absolute;text-align:center;top:5px;right:0;width:40px;height:40px}
#close-video-player:after,#close-video-player:before{display:inline-block;content:' ';width:7px;height:40px;background-color:#777;transform:rotate(45deg)}#close-video-player:hover:after,#close-video-player:hover:before{background-color:#aaa}
#close-video-player:after{transform:rotate(-45deg);position:relative;left:-6px}
#video-player>div{width:100%;max-width:900px}